{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h1>Upload Questions CSV</h1>

<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="default">Upload</button>
</form>

{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
